# Ignore Gradle project-specific cache directory
.idea/
.gradle/
src/main/resources/.env/
# Ignore Gradle build output directory
build/
out/


# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
